body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

select,
input,
button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.qr-code{
  opacity: 0;
  display: flex;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid #ccc;
}
.wrapper.active .qr-code{
  opacity: 1;
  pointer-events: auto;
  padding: 50px;
  transition: opacity 0.5s 0.05s ease;
}
.qr-code img{
  width: 170px;
}